/* 
    Auteurs    : S.Rogelet, A.Pleux, L.Bodu
*/

/* ----------------------------------------------- */
/* Style en commun (boutton, titres, cadres, ... ) */
/* ----------------------------------------------- */
.cadreAdd {
    text-align: center;
}
.btAdd {
    transition: all 0.2s ease-in-out;
    background-color: #58ACFA;
    border-radius: 3px;
    padding: 10px 7px;
    text-decoration: none;
    color: white;
}
.btAdd img {
    max-width: 40px;
}
.btAdd:hover {
    background-color: dodgerblue;
}
.btReset {
    transition: all 0.2s ease-in-out;
    background-color: #FFBF00;
    border: 1px solid #FFBF00;
    border-radius: 3px;
    padding: 5px 7px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.btReset:hover {
    background: #FACC2E;
}
.btSubmit {
    transition: all 0.2s ease-in-out;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    padding: 5px 7px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.btSubmit:hover {
    background: #58ACFA;
}

.msgSucces {
    color: green;
    font-size: 12px;
}

.msgError {
    color: red;
    font-size: 12px;
}

/* -------------------- */
/* - Body_page (index.php) - */
/* -------------------- */

html, body {
    background-color: whitesmoke;
    font-family: sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* -------------------------------------- */
/* - 404_page (error404_vue.php) - */
/* -------------------------------------- */

#cadre_404 {
    text-align: center;
    margin-top: 100px;
}
#cadre_404 img {
    max-width: 150px;
}
#cadre_404 p {
    font-weight: bold;
}
#cadre_404 a {
    text-decoration: none;
    color: dodgerblue;
}

/* ---------------------------- */
/* - Header_page (header.php) - */
/* ---------------------------- */

header {
    border-bottom: solid 3px dodgerblue;
    border-bottom-left-radius: 50px;
    background: linear-gradient(to top left, #F6F6F6, #F2F2F2, #FAFAFA);
    padding: 10px;
    box-shadow: 0 2px 3px 1px rgba(50, 50, 50, 0.4);
}
#header_left, #header_right {
    display: inline-block;
}
#header_left img {
    float: left;
    max-width: 75px;
    margin-left: 25px;
}
#header_left span {
    font-size: 22px;
    margin: 25px 0 0 15px;
    display: inline-block;
}
#header_right ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
}
#header_right ul li:last-child {
    margin-right: 0px;
}
#header_right ul li a {
    text-decoration: none;
    color: dodgerblue;
    font-weight: bold;
    text-shadow: 0 1px 1px #BDBDBD;
    transition: all 0.3s ease-in-out;
}
#header_right ul li a:hover {
    color: #DBA901;
    text-shadow: 0 1px 1px lightgrey;
}

/* -------------------------- */
/* - Front_page (index.php) - */
/* -------------------------- */

#container {
    padding: 5px;
    margin: 5px;
}

/* ---------------------------- */
/* - Footer_page (footer.php) - */
/* ---------------------------- */

footer {
    width: 100%;
    padding-top: 5px;
    bottom: 0;
    position: absolute;
    border-top: solid 1px dodgerblue;
    background: linear-gradient(to top left, #F6F6F6, #F2F2F2, #FAFAFA);
    box-shadow: 0 -1px 3px 1px rgba(75, 75, 75, 0.3);
}
#footer_left, #footer_right {
    display: inline-block;
}
#footer_left {
    color: grey;
    font-size: 11px;
    margin: 5px 0 0 15px;
}
#footer_right  {
    float: right;
    margin-right: 20px; ;
}
#footer_right p {
    color: dodgerblue;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
#footer_right p:hover {
    color: #DBA901;
    cursor: pointer;
}

/* -------------------------------------- */
/* - Connexion_page (connexion_vue.php) - */
/* -------------------------------------- */

#formLogin {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    text-align: center;
    width: 300px;
    background: rgba(245, 245, 245, 0.8);
    box-shadow: 0 0 5px 1px rgba(100, 100, 100, 0.4);
}
#formLogin legend {
    padding: 0 10px;
    font-style: italic;
    text-shadow: 0 1px 1px lightgrey;
    opacity: 0.75;
}
#erreurConnexion {
    color: red;
    font-size: 12px;
}
#formLogin #ztLogin, #formLogin #ztPassword {
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    transition: all 0.2s ease-in-out;
}
#formLogin #ztLogin:hover, #formLogin #ztPassword:hover {
    border-radius: 3px 25px 3px 3px;
    border: 1px solid grey;
}

#formLogin .btSubmit:hover {
    background: #ACFA58;
}

/* -------------------------------------- */
/* - Inscription_page (addUser_vue.php) - */
/* -------------------------------------- */
#formInscription {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    text-align: center;
    width: 300px;
    background: rgba(245, 245, 245, 0.8);
    box-shadow: 0 0 5px 1px rgba(100, 100, 100, 0.4);
}

#formInscription legend {
    padding: 0 10px;
    font-style: italic;
    text-shadow: 0 1px 1px lightgrey;
    opacity: 0.75;
}

#ztMail, #ztNom, #ztPrenom, #ztDateNaiss, #ztTel, #ztFonction {
    margin: 5px;
    padding: 10px;
}

#formInscription .btReset:hover {
    background: #FA8258;
}

#formInscription .btSubmit:hover {
    background: #ACFA58;
}

/* ---------------------------------------------- */
/* - Liste des utilisateurs (listeUser_vue.php) - */
/* ---------------------------------------------- */
.user{
    border: solid 1px dodgerblue;
    border-bottom-right-radius: 40px;
    background: linear-gradient(to top right, #FAFAFA, #CED8F6, #FAFAFA);
    margin-bottom: 1%;
    padding: 5px 0px 10px 10px;
    display: flex;
}

.info {
   width : 20%;
   text-align : left;
   display: inline-block;
   margin: auto;
}
.user img {
    max-width: 32px;
    margin-right: 5px;
    display: inline-block;
}

.lien{
    width: 5%;
}

/* ----------------------------------------- */
/* - liste ticket (viewTicketUser_vue.php) - */
/* ----------------------------------------- */
#msgSucces {
    text-align: center;
    color: green;
    font-size: 12px;
}
#cadrelisteTicket {
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
#cadrelisteTicket > div {
    background-color: #F2F2F2;
    margin: 25px 0;
    padding: 10px;
    box-shadow: 0 0 3px 1px rgba(75, 75, 75, 0.4);
}
#cadrelisteTicket div span span {
    text-shadow: 0 1px 1px lightgrey;
    text-decoration: underline;
}
#cadrelisteTicket div div {
    text-align: right;
}
#cadrelisteTicket img {
    max-width: 50px;
}
#cadrelisteTicket textarea {
    margin: 10px 0;
    resize: none;
    width: 100%;
    height: 100px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    color: black;
    background: rgba(255, 255, 255, 0.2);
}

/* ------------------------------------------- */
/* - création ticket (addTicketUser_vue.php) - */
/* ------------------------------------------- */
#titleNewTicket, #cadreNewTicket {
    text-align: center;
}
#cadreNewTicket div {
    margin: 5px;
}
#cadreNewTicket div label {
    display: inline-block;
    width: 150px;
    text-align:left;
}
#cadreNewTicket div input, #cadreNewTicket div select {
    padding: 5px;
}
#cadreNewTicket #labelDescription {
    text-align: center;
    width: 200px;
}
#cadreNewTicket #ztDescription {
    resize: none;
    width: 300px;
    height: 150px;
}
#cadreValidNewTicket {
    padding: 15px;
}
